/* App {
    text-align: center;
  }
  
  .row {
    justify-content: center;
    margin: 15px 0;
  } */


*{
    color: plum;
}
body
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html,  body {
   
    height: 100%;
    width: 100%;
}

/* .app_container {
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: center;
    align-content: center;
}

.main_container {

} */